Repository MushroomObserver/mushroom-observer, pull requests merged in 2023-03, with the labels that each got.

#1409 Clean up name edit synonyms form
  app/controllers/names/synonyms_controller.rb
  app/views/names/synonyms/_fields_existing.html.erb
  app/views/names/synonyms/_fields_members.html.erb
  app/views/names/synonyms/_fields_proposed.html.erb
  app/views/names/synonyms/_form.html.erb
  app/views/names/synonyms/edit.html.erb
  test/controllers/names/synonyms_controller_test.rb
Labels: refactor, views, controllers

#1410 Observation form minor refactor
  app/controllers/observations_controller/edit_and_update.rb
  app/views/observations/_form.html.erb
  app/views/observations/form/_collection_number.html.erb
  app/views/observations/form/_good_image.html.erb
  app/views/observations/form/_good_image_fields.html.erb
  app/views/observations/form/_herbarium_record.html.erb
  app/views/observations/form/_images.html.erb
  app/views/observations/form/_images_upload.html.erb
  app/views/observations/form/_notes.html.erb
  app/views/observations/form/_projects.html.erb
  app/views/observations/form/_species_lists.html.erb
  app/views/observations/form/_specimen_info.html.erb
  app/views/observations/form/_when.html.erb
  app/views/observations/form/_where.html.erb
  app/views/observations/images/form/_project.html.erb
  app/views/observations/index.html.erb
  app/views/observations/namings/_fields.html.erb
  test/controllers/observations_controller_test.rb
Labels: minor refactor, views, controllers

#1411 Delete redundant id param on User page
  app/helpers/user_stats_helper.rb
  test/controllers/users_controller_test.rb
Labels: minor refactor, views, helpers, <= 20 files & Abc <= 17

#1412 Account forms slight refactor
  app/views/account/login/new.html.erb
  app/views/account/preferences/_appearance.html.erb
  app/views/account/preferences/_email.html.erb
  app/views/account/preferences/_filters.html.erb
  app/views/account/preferences/_put_buttons.html.erb
  app/views/account/preferences/filters/_checkbox.html.erb
  app/views/account/preferences/filters/_select.html.erb
  app/views/account/preferences/filters/_text_field.html.erb
  config/locales/en.txt
Labels: minor refactor, views

#1414 Fix matrix_box locations
  app/views/shared/_matrix_box.html.erb
Labels: bug, views

#1405 Standardize form styles a bit more
  app/views/herbaria/_form.html.erb
  app/views/projects/_form.html.erb
  app/views/publications/_form.html.erb
  app/views/publications/edit.html.erb
  app/views/publications/new.html.erb
  app/views/species_lists/projects/edit.html.erb
  app/views/visual_groups/_form.html.erb
  app/views/visual_groups/edit.html.erb
  app/views/visual_models/_form.html.erb
  config/locales/en.txt
Labels: refactor, views, helpers

#1416 Require login for observations/maps
  app/controllers/observations/maps_controller.rb
Labels: <= 20 files, Abc <= 17

#1418 SpeciesLists#show backward compatibility
  config/routes.rb
  test/integration/rails-dom-testing/redirects_test.rb
Labels: <= 20 files, Abc <= 17

#1329 Njw dispatch refactor
  app/controllers/application_controller.rb
  app/controllers/collection_numbers_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/herbarium_records_controller.rb
  app/controllers/images_controller.rb
  app/controllers/locations/descriptions_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/names/descriptions_controller.rb
  app/controllers/names_controller.rb
  app/controllers/observations_controller.rb
  app/controllers/observations_controller/index.rb
  app/controllers/projects_controller.rb
  app/controllers/species_lists_controller.rb
  rubocop.html
  test/controllers/collection_numbers_controller_test.rb
  test/controllers/comments_controller_test.rb
  test/controllers/herbaria_controller_test.rb
  test/controllers/herbarium_records_controller_test.rb
  test/controllers/images_controller_test.rb
  test/controllers/locations/countries_controller_test.rb
  test/controllers/locations/descriptions_controller_test.rb
  test/controllers/locations_controller_test.rb
  test/controllers/names/descriptions_controller_test.rb
  test/controllers/names_controller_test.rb
  test/controllers/observations_controller_test.rb
  test/controllers/projects_controller_test.rb
  test/controllers/species_lists_controller_test.rb
  test/fixtures/location_descriptions.yml
  test/fixtures/locations.yml
  test/fixtures/locations_versions.yml
  test/fixtures/name_descriptions.yml
  test/general_extensions.rb
  test/integration/capybara/name_controller_supplemental_test.rb
  test/integration/capybara/observations_controller_supplemental_test.rb
Labels: controllers, Abc <= 17

#1422 Remove fancy_time display
  app/extensions/time_extensions.rb
  app/presenters/matrix_box_presenter.rb
  app/views/articles/show.html.erb
  app/views/shared/_matrix_box.html.erb
  test/models/time_extensions_test.rb
Labels: bug, <= 20 files, <= 17 Abc

#1435 Tiny refactor of pattern search form
  app/helpers/forms_helper.rb
  app/views/layouts/search_bar/_search_form.html.erb
Labels: minor refactor, views
