Repository MushroomObserver/mushroom-observer, pull requests merged in 2024-11, with the labels that each got.

#2502 Avoid Earth
  app/classes/api2/observation_api.rb
  app/models/location.rb
  app/models/observation.rb
  test/controllers/observations_controller/observations_controller_create_test.rb
  test/models/api2_test.rb
  test/models/location_test.rb
Labels: api

#2514 Fix field slip field order
  app/models/field_slip.rb
Labels: projects

#2528 iNat hung diagnosis tools
  Gemfile
  Gemfile.lock
  app/controllers/observations/inat_imports_controller.rb
  app/jobs/inat_import_job.rb
  app/views/controllers/application/sidebar/_admin.html.erb
  config/initializers/mission_control_jobs.rb
  config/locales/en.txt
  config/routes.rb
  db/migrate/20241116222241_remove_log_from_inat_imports.rb
  db/schema.rb
Labels: iNat

#2535 Eager load Rake in production
  config/environments/production.rb
Labels: bug, Error, iNat

#2547 Fix import_requested_observations ABC
  app/classes/inat_page_parser.rb
  app/jobs/inat_import_job.rb
Labels: iNat

#2408 Fix import_requested_observations ABC metrics issue with a new parser
  app/classes/inat_page_parser.rb
  app/jobs/inat_import_job.rb
Labels: iNat
