Repository MushroomObserver/mushroom-observer, pull requests merged in 2025-04, with the labels that each got.

#2874 Ignore brakeman Name Format Validation warning
  config/brakeman.ignore
Labels: tests, security

#2899 Add deleted Observation subquery scopes
  app/models/observation/scopes.rb
  test/classes/query/observations_test.rb
Labels: bug, Error

#2882 Cover ERBs
  test/test_helper.rb
Labels: tests

#2904 Fix Query `order_by`
  app/classes/query/modules/initialization.rb
  test/classes/query/observations_test.rb
Labels: query

#2890 Remove env.test? dependency
  app/jobs/inat_import_job.rb
  test/fixtures/api_keys.yml
  test/fixtures/inat_imports.yml
  test/fixtures/users.yml
  test/jobs/inat_import_job_test.rb
Labels: iNat

#2851 User specific iNat Import API Key
  app/classes/inat/obs_photo.rb
  app/classes/inat/photo_importer.rb
  app/controllers/inat_imports_controller.rb
  app/jobs/inat_import_job.rb
  test/controllers/inat_imports_controller_test.rb
  test/fixtures/api_keys.yml
  test/fixtures/inat_imports.yml
  test/fixtures/users.yml
  test/jobs/inat_import_job_test.rb
Labels: iNat

#2923 Stop pre-processing provisionals
  app/classes/inat/obs.rb
  test/classes/inat_obs_test.rb
  test/inat/README_INAT_EXAMPLES.md
  test/inat/hygrocybe_sp_conica-CA06_ncbi_style.txt
  test/jobs/inat_import_job_test.rb
Labels: iNat, names

#2937 MyCoPortal report unedited
  app/classes/report/mycoportal.rb
  app/controllers/observations/downloads_controller.rb
  app/views/controllers/observations/downloads/_form.html.erb
  config/locales/en.txt
  test/classes/report_test.rb
  test/controllers/observations/downloads_controller_test.rb
Labels: MyCoPortal
