Repository MushroomObserver/mushroom-observer, pull requests merged in 2025-06, with the labels that each got.

#3001 One InatImport at a time
  app/controllers/inat_imports_controller.rb
  app/models/inat_import.rb
  config/locales/en.txt
  test/controllers/inat_imports_controller_test.rb
  test/fixtures/inat_import_job_trackers.yml
  test/fixtures/inat_imports.yml
Labels: bug, enhancement, iNat

#3050 Update issue templates
  .github/ISSUE_TEMPLATE/inat-issue-template.md
Labels: iNat

#3055 MyCoPortal update readme
  README_MYCOPORTAL_UPDATE.md
Labels: documentation, MyCoPortal

#3004 Display remaining time
  app/controllers/inat_imports_controller.rb
  app/helpers/inat_import_job_trackers_helper.rb
  app/jobs/inat_import_job.rb
  app/models/inat_import.rb
  app/models/inat_import_job_tracker.rb
  app/views/controllers/inat_imports/job_trackers/_current.erb
  config/locales/en.txt
  db/migrate/20240518180000_add_total_imports_and_total_time_to_inat_imports.rb
  db/migrate/20240518181000_rename_inat_import_columns.rb
  db/migrate/20240614120000_add_avg_import_time_to_inat_imports.rb
  db/migrate/20250622170532_add_last_obs_start_to_inat_imports.rb
  db/schema.rb
  test/controllers/inat_imports/job_trackers_controller_test.rb
  test/controllers/inat_imports_controller_test.rb
  test/fixtures/inat_import_job_trackers.yml
  test/fixtures/inat_imports.yml
  test/jobs/inat_import_job_test.rb
  test/models/inat_import_job_tracker_test.rb
  test/models/inat_import_test.rb
Labels: enhancement

#3029 MyCoPortal Export Update 202506
  Gemfile
  Gemfile.lock
  app/classes/report/base_table.rb
  app/classes/report/mycoportal.rb
  app/classes/report/mycoportal_image_list.rb
  app/controllers/observations/downloads_controller.rb
  app/models/field_slip.rb
  app/views/controllers/observations/downloads/_form.html.erb
  config/locales/en.txt
  test/classes/report_test.rb
  test/controllers/observations/downloads_controller_test.rb
  test/fixtures/locations.yml
  test/fixtures/names.yml
  test/fixtures/observations.yml
  test/models/name_test.rb
Labels: MyCoPortal

#3049 Observation show page "Namings" — update vote tallies when a naming is voted on
  app/controllers/observations/namings/votes_controller.rb
  app/helpers/namings_helper.rb
  app/javascript/controllers/modal_controller.js
  app/javascript/controllers/section-update_controller.js
  app/models/observation/naming_consensus.rb
  app/views/controllers/observations/namings/index.erb
  app/views/controllers/observations/show.html.erb
  app/views/controllers/observations/show/_namings.erb
  app/views/controllers/observations/show/_section_update.erb
  app/views/controllers/observations/show/namings/_footer.erb
  app/views/controllers/observations/show/namings/_header.erb
  app/views/controllers/observations/show/namings/_row.erb
  app/views/controllers/observations/show/namings/_rows.erb
  app/views/controllers/shared/_modal_ajax_progress.erb
  test/controllers/observations/namings/votes_controller_test.rb
  test/controllers/observations_controller/observations_controller_create_test.rb
  test/models/naming_test.rb
  test/system/autocompleter_system_test.rb
Labels: bug
